<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello</title>

    <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/pnotify/pnotify.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/floating-labels.css') }}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <script src="{{ asset('assets/jquery-3.4.1.min.js') }}"></script>
</head>
<body>

<form class="form-signin" method="post">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="form-label-group">
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="_username" required autofocus>
        <label for="inputUsername">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="_password" required>
        <label for="inputPassword">Password</label>
    </div>
    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    {{ texter('on_login_page') }}
</form>

<script src="{{ asset('assets/popper.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/pnotify/pnotify.custom.min.js') }}"></script>

{% include '@SmartCore/pnotify_flash_messages.html.twig' %}

</body>
</html>
