<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ 'Reset Password'|trans }}</title>

    <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/floating-labels.css') }}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<form class="form-signin" method="post">
    <h1>{{ 'Reset Password'|trans }}</h1>

    {% if errors %}
        <div class="alert alert-danger">
            <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-label-group">
        <input type="text" id="inputUsername" class="form-control" placeholder="{{ 'Username'|trans }}" name="_username" required autofocus>
        <label for="inputUsername">{{ 'Username'|trans }}</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputCode" class="form-control" placeholder="{{ 'Code'|trans }}" name="_code" required autofocus>
        <label for="inputCode">{{ 'Code'|trans }}</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'New password'|trans }}" name="_password" required>
        <label for="inputPassword">{{ 'New password'|trans }}</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword2" class="form-control" placeholder="{{ 'Repeat Password'|trans }}" name="_password2" required>
        <label for="inputPassword2">{{ 'Repeat Password'|trans }}</label>
    </div>

    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Send'|trans }}</button>
</form>
</body>
</html>
