{% extends 'joint_purchase/edit.html.twig' %}

{% block edit_form_content %}
    <ul class="nav nav-pills">
{#                <li {% if show == 'active' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'active'}) }}">Активные</a></li>#}
        <li><a href="{{ path('jp_edit', {'id': jp.id}) }}">Основные свойства</a></li>
        <li class="active"><a href="#">Товары</a></li>
    </ul>

    <div class="myform">
        <a href="{{ path('jp_create_product', {'id': jp.id}) }}" class="btn-success btn">Добавить товар</a>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Картинка</th>
                <th>Наименование</th>
                <th>Минимальное кол-во</th>
                <th>Набрано кол-во</th>
                <th>Цена (за шт. / всего) </th>
            </tr>
            </thead>
            <tbody>
            {% for product in jp.products %}
                <tr>
                    <td><a href="{{ path('jp_show', {'id': jp.id}) }}" style="height: 70px; display: block;">
                             <img src="{{ path('image', {'filter': '100x70', 'id': product.imageId ?: 0}) }}" style="max-width: 100px; max-height: 70px;">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('jp_edit_product', {'id': product.id}) }}">{{ product }}</a>
                    </td>
                    <td>
                        {{ product.minQuantity }}
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        {{ product.price }} / {{ product.price * product.minQuantity }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
