{% extends 'base.html.twig' %}

{% block title %}Мои сделки{% endblock %}

{% block content %}
    <h1>Мои сделки</h1>

    <ul class="nav nav-pills">
        <li {% if show == 'new' %}class="active"{% endif %}>
            <a href="{{ path('deals', {'tab': 'new'}) }}">
                Новые

                {% set deals_count_new = app_deals_count_new_by_user(app.user) %}
                {% if deals_count_new %}
                    <span class="badge badge-primary">{{ deals_count_new }}</span>
                {% endif %}
            </a>
        </li>

        <li {% if show == 'active' %}class="active"{% endif %}>
            <a href="{{ path('deals', {'tab': 'active'}) }}">
                Активные

                {% set deals_count_active = app_deals_count_active_by_user(app.user) %}
                {% if deals_count_active %}
                    <span class="badge badge-primary">{{ deals_count_active }}</span>
                {% endif %}
            </a>
        </li>

        <li {% if show == 'in' %}class="active"{% endif %}>
            <a href="{{ path('deals', {'tab': 'in'}) }}">
                Входящие

                {% set deals_count_new_incoming = app_deals_count_new_incoming_by_user(app.user) %}
                {% if deals_count_new_incoming %}
                    <span class="badge badge-danger">{{ deals_count_new_incoming }}</span>
                {% else %}
                    {% set deals_count_incoming = app_deals_count_incoming_by_user(app.user) %}

                    {% if deals_count_incoming %}
                        <span class="badge badge-primary">{{ deals_count_incoming }}</span>
                    {% endif %}
                {% endif %}
            </a>
        </li>

        <li {% if show == 'out' %}class="active"{% endif %}>
            <a href="{{ path('deals', {'tab': 'out'}) }}">
                Исходящие

                {% set deals_count_outgoing = app_deals_count_outgoing_by_user(app.user) %}
                {% if deals_count_outgoing %}
                    <span class="badge badge-primary">{{ deals_count_outgoing }}</span>
                {% endif %}
            </a>
        </li>

        <li {% if show == 'complete' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'complete'}) }}">Завершенные</a></li>

        <li {% if show == 'canceled' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'canceled'}) }}">Отменённые</a></li>

        <li {% if show == 'all' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'all'}) }}">Все</a></li>
    </ul>

    <p>Всего: <b>{{ pagerfanta|length }}</b>
        {#{% if pagerfanta.haveToPaginate %} Текущая страница: <b>{{ pagerfanta.currentPage }}</b> Записей на страницу: <b>{{ pagerfanta.maxPerPage }}</b>{% endif %}#}
    </p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            {% if show == 'active' or show == 'complete' or show == 'canceled' or show == 'all' %}<th>Тип</th>{% endif %}
            <th>Предложение</th>
            <th>Сумма</th>
            <th>Участник</th>
            <th>Тип взаимозачёта</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Дата обновления</th>
        </tr>
        </thead>
        <tbody>
        {% for deal in pagerfanta %}
            <tr {% if deal.viewedAt is null %} class="table-info" title="Не просмотрено" {% endif %}>
                {% if show == 'active' or show == 'complete' or show == 'canceled' or show == 'all' %}
                    <td>
                        {% if deal.seller == app.user %}
                            Входящие
                        {% elseif deal.buyer == app.user %}
                            Исходящие
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('deal_show', {'id': deal.id}) }}">{{ deal.offer.title }}</a>
                    {{ deal.cost }}{{ app_currency() }} x {{ deal.quantity }}
                </td>
                <td>{{ deal.amountCost }}{{ app_currency() }}</td>
                <td>
                    {% if deal.seller == app.user %}
                        <a href="{{ path('user_show', {'id': deal.buyer.id}) }}">{{ deal.buyer }}</a>
                    {% elseif deal.buyer == app.user %}
                        <a href="{{ path('user_show', {'id': deal.seller.id}) }}">{{ deal.seller }}</a>
                    {% endif %}
                </td>
                <td>{{ deal.typeText }}</td>
                <td>{{ deal.statusAsText }}
                    {% if deal.status == 1 %}
                        <br>{{ deal.viewedAt|format_datetime }}
                    {% endif %}
                </td>
                <td>{{ deal.createdAt|format_datetime }}</td>
                <td>
                    {% if deal.updatedAt is not empty %}
                        {{ deal.updatedAt|format_datetime }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#
    {% if pagerfanta.haveToPaginate %}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {'css_container_class': 'pagination pagination-centered'}) }}
    {% endif %}
    #}
{% endblock %}
