{% extends 'base.html.twig' %}

{% block title %}Просмотр сделки{% endblock %}

{% block content %}
    {% set offer = deal.offer %}
    {% set show = false %}

    <h1>Мои сделки</h1>

    <ul class="nav nav-pills">
        <li {% if show == 'active' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'active'}) }}">Активные</a></li>
        <li {% if show == 'in' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'in'}) }}">Входящие</a></li>
        <li {% if show == 'out' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'out'}) }}">Исходящие</a></li>
        <li {% if show == 'complete' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'complete'}) }}">Завершенные</a></li>
        <li {% if show == 'canceled' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'canceled'}) }}">Отменённые</a></li>
        <li {% if show == 'all' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'all'}) }}">Все</a></li>
    </ul>

    <h2>Просмотр сделки</h2>

<div class="row">
    <div class="col-md-8">
        <div class="myform">
    <h3>
        {% if deal.contractorUser == app.user %}
            Входящий запрос от <a href="{{ path('user_show', {'id': deal.declarantUser.id}) }}">{{ deal.declarantUser }}</a>
        {% elseif deal.declarantUser == app.user %}
            Вы запросили у <a href="{{ path('user_show', {'id': deal.contractorUser.id}) }}">{{ deal.contractorUser }}</a>
        {% endif %}
    </h3>

    <p>Дата: {{ deal.createdAt|format_datetime }}</p>

    <p>Предложение: <a href="{{ path('offer_show', {'id': offer.id}) }}">{{ offer }}</a></p>

    <p>
        Количество: {{ deal.quantity }} <i>{{ offer.quantity ? offer.measureAsText : '' }}</i>
    </p>

    <p>Стоимость: {{ deal.offer.price }}
        {% if deal.offer.quantity > 0 %}
            за <i>{{ deal.offer.measureAsText }}</i>
        {% endif %}
    </p>

    <p>Итоговая сумма: {{ deal.amountCost }}</p>

    <p>Статус:
        {{ deal.statusAsText }}
        {% if deal.status == 1 %}
            {{ deal.viewedAt|format_datetime }}
        {% endif %}
    </p>

    {% if deal.comment is not empty %}
        <p>Комментарий: {{ deal.comment }}</p>
    {% endif %}

    {% if deal.updatedAt is not empty %}
        <p>Дата последнего изменения: {{ deal.updatedAt|format_datetime }}</p>
    {% endif %}

    {% if deal.status == 0 or deal.status == 1%}
        <br>
        {% if deal.contractorUser.id == app.user.id %}
            <p>
                <a href="{{ path('deal_show', {'id': deal.id, 'action': 'accept'}) }}" class="btn btn-success" onclick="return confirm('Вы уверены, что хотите принять заявку?')">Принять</a>
                <a href="{{ path('deal_show', {'id': deal.id, 'action': 'accept-outsite'}) }}" class="btn btn-primary" onclick="return confirm('Вы уверены, что хотите принять заявку для личной договорённости ?')">Принять для личной договорённости *</a>
                <a href="{{ path('deal_show', {'id': deal.id, 'action': 'cancel'}) }}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите отменить заявку?')">Отменить</a>
            </p>

            <br>
            <p>* - <i>в данном случае участники самостоятельно решают на каких условиях совершить обмен по данному предложению и стоимость сделки не затрагивает балансы участников в системе.</i></p>
        {% elseif deal.declarantUser.id == app.user.id %}
            <p>
                <a href="{{ path('deal_show', {'id': deal.id, 'action': 'cancel'}) }}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите отменить заявку?')">Отменить, если вы передумали</a>
            </p>
        {% endif %}
    {% endif %}

    {% if deal.status == constant('App\\Entity\\Deal::STATUS_ACCEPTED') or deal.status == constant('App\\Entity\\Deal::STATUS_ACCEPTED_OUTSIDE') %}
        <br>
        {% if deal.contractorUser.id == app.user.id %}
            <div class="alert alert-info" role="alert">
                После того, как вы произведёте обмен, нужно будет завершить сделку, для начисления баллов.
            </div>

            <p>
                <a href="{{ path('deal_show', {'id': deal.id, 'action': 'complete'}) }}" class="btn btn-success" onclick="return confirm('Вы уверены, что хотите завершить сделку?')">Завершить</a>
            </p>

            <br>
            {#<p>* - <i>в данном случае участники самостоятельно решают на каких условиях совершить обмен по данному предложения и стоимость сделки не затрагивает балансы участников в системе.</i></p>#}
        {% elseif deal.declarantUser.id == app.user.id %}
            <p>
                {#<a href="{{ path('site.deal.show', {'id': deal.id, 'action': 'cancel'}) }}" class="btn btn-default" onclick="return confirm('Вы уверены, что хотите отменить заявку?')">Отменить, если вы передумали</a>#}
            </p>
        {% endif %}
    {% endif %}
        </div>

{#        <a href="{{ path('deals', {'tab': 'in'}) }}"><< назад к списку входящих запросов</a>#}
    </div>

    <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
            <h5>Предложение</h5>
            <p>Категория <a href="#">{{ offer.category }}</a></p>
            <h4>{{ offer }}</h4>
            <img src="{{ path('image', {'filter': 'offers_list_thumbnail', 'id': offer.imageId ?:0 }) }}" class="img-fluid">
            <h4>
                <span class="badge badge-secondary">
                {% if offer.price == 0 %}
                    Договорная
                {% else %}
                    {{ offer.price|number_format(0, ' ', ' ') }}
                {% endif %}
                </span>

                {% include 'offer/_status.html.twig' %}
            </h4>

            <p>{{ offer.shortDescription }}</p>

            <p>{{ offer.createdAt|format_datetime }}</p>
        </div>
    </div>
</div>

{% endblock %}
