{% extends 'user/_layout.html.twig' %}

{% block profile_content %}
    {% set user = app.user %}

    <p>Всего: {{ user.invitedUsers|length }}</p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Метод</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Был в сети</th>
        </tr>
        </thead>
        <tbody>
        {% for u in user.invitedUsers %}
            <tr>
                <td>
                    <a href="{{ path('user_show', {'id': u.id}) }}">{{ u }}</a>

                    {% if user.telegramUsername %}
                        <a href="tg://resolve?domain={{ user.telegramUsername }}">
                            <span title="Написать сообщение в Телеграм" style="float: right; color: Dodgerblue;">
                                <i class="fab fa-telegram-plane"></i>
                            </span>
                        </a>
                    {% endif %}

                    {% if user.longitude and user.latitude %}
                        <span style="float: right; color: Dodgerblue; margin-right: 4px;">
                            <i class="fa fa-map-marker-alt"></i>
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if u.invite %}
                        По ссылке-пригляшению
                    {% else %}
                        Вручную
                    {% endif %}
                </td>
                <td>
                    {% if u.enabled %}
                        <span class="label label-success label-important">Активен</span>
                    {% else %}
                        <span class="label label-danger label-important">Не Активен</span>
                    {% endif %}
                </td>
                <td>{{ u.createdAt|format_datetime }}</td>
                <td>
                    {% if u.lastLogin is not empty %}
                        {{ u.lastLogin|format_datetime }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock profile_content %}
