{% extends 'user/_layout.html.twig' %}

{% block profile_content %}
    <h1>Восстановление пароля</h1>

    {% if user %}
        {% if user.telegramUsername %}
            <p>Для пользователя: <a href="{{ path('user_show', {'id': user.id}) }}">{{ user }}</a></p>

            <p>Ссылка действует в течении 1 часа</p>

            <table width="100%" style="margin-bottom: 12px;">
                <tr>
                    <td>
                        <input id="foo" class="form-control" value="{{ url('reset_password', {'token': user.confirmationToken}) }}" autofocus>
                    </td>
                    <td style="width: 200px;">
                        <button class="btn btn-success" data-clipboard-target="#foo" style="margin-left: 6px;">
                            Скопировать ссылку
                        </button>
                    </td>
                </tr>
            </table>
        {% else %}
            <div class="alert alert-danger">
                Сброс пароля возможен только пользователям с привязанным телеграмом
            </div>
        {% endif %}

    {% else %}

    {% endif %}

{% endblock profile_content %}

{% block js %}
    {{ parent() }}

    <script src="{{ asset('assets/clipboard.min.js') }}"></script>
    <script>
      var clipboard = new ClipboardJS('.btn');

      clipboard.on('success', function(e) {
        new PNotify({
          title: 'Ссылка скопирована в буфер обмена!',
          type: 'success'
        });
      });

      clipboard.on('error', function(e) {
        new PNotify({
          title: '{{ 'Error'|trans }}!',
          text: 'При копировании ссылки в буфер обмена',
          type: 'error'
        });
      });
    </script>
{% endblock js %}
