{% extends 'user/_layout.html.twig' %}

{% block profile_content %}
    {% if app.user.telegramUsername %}
        <h2>Телеграм</h2>

        <p><a href="tg://resolve?domain={{ app.user.telegramUsername }}">@{{ app.user.telegramUsername }}</a>
            - <a href="?remove" style="color: red;" onclick="return confirm('Вы уверены, что хотите отвязать телеграмм аккаунт?')">отключить</a>
        </p>
    {% else %}
        <h2>Подключение телеграм</h2>

        {% if app_tg_bot_name() is not empty %}
            <p>На данный момент, телеграм используется как средство коммуникации между участниками, а также уведомления о заявках и других событиях. По этому для работы в системе необходимо подключить ваш телеграм аккаунт.</p>

            <p>В первую очередь, убедитесь, что вы задали "Имя пользователя" в телеграме, это можно проверить, зайдя в телеграме в <b>Настройки -> Изменить профиль</b>.</p>

            <p>Чтобы открыть "настройки" в телеграм, нужно нажать на иконку "три черточки" слева-вверху.</p>

            <p>Если неполучается это сделать с "наскоку", то загуглите, например так: <a href="https://www.google.com/search?q=как+задать+имя+пользователя+в+телеграм" target="_blank">как задать имя пользователя в телеграм</a></p>

            <p>Также настоятельно рекомендуется настроить приватность в телеграме таким образом, чтобы внешне было затруднительно идентифицировать с реальным человеком.
                Для этого стоит избегать указания реальных имён и фамилий, как в профиле, так и в "имени пользователя", а также в настройках конфиденциальность указать никому не показывать "номер телефона".
            </p>

            <p>Скопируйте код <b>{{ code }}</b></p>

            <p>Зайдите в чат бот в телеграме <a href="tg://resolve?domain={{ app_tg_bot_name() }}">@{{ app_tg_bot_name() }}</a> нажмите "старт", а затем вставьте скопированный ранее код.</p>

            <p id="valid_msg">Код действителен в течении <span id="countdown">05:00</span> минут</p>

            <script>
              function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                  minutes = parseInt(timer / 60, 10);
                  seconds = parseInt(timer % 60, 10);

                  minutes = minutes < 10 ? "0" + minutes : minutes;
                  seconds = seconds < 10 ? "0" + seconds : seconds;

                  if (minutes === '00' && seconds === '00') {
                      var validMsg = document.querySelector('#valid_msg');
                      validMsg.innerHTML = '{{ 'Code is out of date'|trans }} - <a href="{{ path('profile_telegram') }}" class="btn btn-primary">{{ 'reload page'|trans }}</a>';
                  } else {
                      display.textContent = minutes + ":" + seconds;
                  }

                  if (--timer < 0) {
                    //timer = duration;
                    timer = 0;
                  }
                }, 1000);
              }

              window.onload = function () {
                var seconds = {{ countdown }};
                var display = document.querySelector('#countdown');
                startTimer(seconds, display);
              };
            </script>
        {% else %}
            <p>Бот не подключен</p>
        {% endif %}
    {% endif %}
{% endblock profile_content %}
